.escolher-quadra-container {
  text-align: center;
}

.quadras-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.quadra-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fdfdfd;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.quadra-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.quadra-button {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--colors-primary, #74AC3D);
  align-self: center;
  color: white;
  border: none;
  cursor: pointer;
}
.quadra-button:hover {
  background-color: #244934;
}

.quadra-card input {
  display: none;
}

.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.card-content p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}