#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  padding: 0;
}

.form-container {
  display: flex;
  margin: 8rem auto 4rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 900px;
  min-height: 400px;
  padding: 4rem 4rem;
  border-radius: 1rem;
  border: 0.5px solid #CCC;
  box-sizing: border-box;
  overflow: hidden;
}

.form-container form {
  width: 100%;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions .button-confirm,
.actions .button-confirm span {
  background-color: #74AC3D;
  color: #FFFFFF !important;
  border: none;
}

.actions button {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 0.75rem 3rem;
  border-radius: .75rem;
  cursor: pointer;
}